.fast-start {
    padding: 50px 0 150px;

    &__inner {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: flex-end;

        @media (max-width:$tablet-max) {
            flex-direction: column-reverse;
        }
    }

    &__img {
        @media (min-width:$tablet-min) {
            position: absolute;
            top: 0;
            left: -200px;
        }

        @media (max-width:1920px) {
            width: 55%;
        }

        @media (max-width:$tablet-max) {
            width: 100%;
            max-width: 650px;
        }
    }


    &__title {
        @media (max-width:$tablet-max) {
            text-align: center;
        }
    }

    &__list {
        margin-top: 50px;

        @media (max-width:$tablet-max) {
            margin-top: 30px;
        }
    }

    &__item {
        &:not(:first-child) {
            margin-top: 60px;
        }

        @media (max-width:$tablet-max) {
            &:not(:first-child) {
                margin-top: 30px;
            }
        }
    }

    @media (max-width:$tablet-max) {
        padding: 50px 0 0px;
    }
}
