<section class="fast-start" id="fast-start">
    <div class="container">
        <div class="fast-start__inner">
            <img class="fast-start__img" src="./img/map-phone.png" alt="">
            <div class="fast-start__content">
                <h2 class="fast-start__title title-2">
                    Быстрый старт:
                </h2>
                <ul class="fast-start__list list-reset">
                    <li class="fast-start__item item-descr">
                        <svg class="item-descr__icon">
                            <use xlink:href="img/sprite.svg#download"></use>
                        </svg>
                        <div class="item-descr__text">
                            <h3 class="item-descr__title">
                                Скачай и зарегистрируйся
                            </h3>
                            <p class="item-descr__descr">
                                Наше приложение доступно в Apple Store и Google Play
                            </p>
                        </div>
                    </li>
                    <li class="fast-start__item item-descr">
                        <svg class="item-descr__icon">
                            <use xlink:href="img/sprite.svg#location"></use>
                        </svg>
                        <div class="item-descr__text">
                            <h3 class="item-descr__title">
                                Выбери ближайшую автомойку
                            </h3>
                            <p class="item-descr__descr">
                                Из свободных поблизости или оставь заказ на удобное время
                            </p>
                        </div>
                    </li>
                    <li class="fast-start__item item-descr">
                        <svg class="item-descr__icon">
                            <use xlink:href="img/sprite.svg#filter"></use>
                        </svg>
                        <div class="item-descr__text">
                            <h3 class="item-descr__title">
                                Выбери дополнительные услуги
                            </h3>
                            <p class="item-descr__descr">
                                Можешь их добавить к своему основному заказу
                            </p>
                        </div>
                    </li>
                    <li class="fast-start__item item-descr">
                        <svg class="item-descr__icon">
                            <use xlink:href="img/sprite.svg#wallet"></use>
                        </svg>
                        <div class="item-descr__text">
                            <h3 class="item-descr__title">
                                Оплати внутри приложения
                            </h3>
                            <p class="item-descr__descr">
                                Бесконтактная оплата внутри приложения и прозрачные цены
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
