<footer class="footer">
    <div class="container">
      <div class="footer__inner">
            <a href="footer__logo">
                <img src="./img/logo-white.svg" alt="GetWash">
            </a>
            <nav class="footer__nav nav" >
                <ul class="nav__list list-reset">
                    <li class="nav__item"><a href="#" class="nav__link">Как использовать</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Партнерам</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Скачать</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Отзывы</a></li>
                </ul>
                <button type="submit" class="btn btn-reset btn-primary footer__btn">Получить доступ</button>
            </nav>
      </div>
    </div>
</footer>
