<section class="hero" style="background-image: url(./img/hero-bg.png);">
    <h1 class="visually-hidden">GetWash</h1>
    <div class="container">
        <div class="hero__inner">
            <h2 class="hero__title title-2">
                Поиск ближайшей свободной автомойки и бронирование
                на удобное время.
                <svg class="hero__arrow-right">
                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
                <svg class="hero__arrow-down">
                    <use xlink:href="img/sprite.svg#arrow-down"></use>
                </svg>
            </h2>
            <p class="hero__descr">
                Мы поможем сохранить ваше время для более интересных занятий, чем стоять в очереди.
            </p>
            <button type="submit" class="btn btn-reset btn-primary btn-primary--fill hero__btn">Получить доступ</button>
        </div>
    </div>
    <div class="hero__phone-tablet">
        <img src="./img/hero-bg-2.png" alt="">
    </div>
</section>
