<section class="partners">
    <div class="container">
        <h2 class="partners__title title-2">
            Стань нашим партнером и начни зарабатывать:
        </h2>
        <p class="partners__subtitle">
            Автоматизируй свой бизнес вместе с нами. Подключись к нашей системе бронирования, что бы получать новых
            клиентов и распределить нагрузку равномерно на весь день. Мы предоставляем удобные инструменты для
            формирования отчетов в несколько кликов и многое другое.
        </p>
        <ul class="partners__list list-reset">
            <li class="partners__item partners-item">
                <svg class="partners-item__icon">
                    <use xlink:href="img/sprite.svg#document"></use>
                </svg>
                <p class="partners-item__descr">
                    Просмотривайте
                    историю заказа
                </p>
            </li>
            <li class="partners__item partners-item">
                <svg class="partners-item__icon">
                    <use xlink:href="img/sprite.svg#calendar"></use>
                </svg>
                <p class="partners-item__descr">
                    Создание отчета
                    неделя/месяц/год
                </p>
            </li>
            <li class="partners__item partners-item">
                <svg class="partners-item__icon">
                    <use xlink:href="img/sprite.svg#chat"></use>
                </svg>
                <p class="partners-item__descr">
                    Обратная связь
                    от клиентов
                </p>
            </li>
            <li class="partners__item partners-item">
                <svg class="partners-item__icon">
                    <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <p class="partners-item__descr">
                    Контроль качества
                    работы сотрудников
                </p>
            </li>
            <li class="partners__item partners-item">
                <svg class="partners-item__icon">
                    <use xlink:href="img/sprite.svg#wallet"></use>
                </svg>
                <p class="partners-item__descr">
                    Бесконтактная
                    оплата работы
                </p>
            </li>
        </ul>
        <button type="submit" class="btn btn-reset btn-primary btn-primary--fill partners__btn">Стать партнером</button>
    </div>
</section>
