<section class="reviews">
    <div class="container">
        <h2 class="reviews__title title-2">
            Отзывы о приложении
        </h2>
        <div class="reviews-slider">
            <div class="swiper reviews-slider__inner">
                <div class="swiper-wrapper">
                    <div class="swiper-slide reviews-slide">
                        <p class="reviews-slide__text">
                            Таким образом консультация с широким активом влечет за собой процесс внедрения и
                            модернизации
                            направлений прогрессивного развития. Разнообразный и богатый опыт сложившаяся структура
                            организации обеспечивает широкому кругу (специалистов)
                            участие в формировании модели развития.
                        </p>
                        <div class="reviews-slide__person person-info">
                            <div class="person-info__avatar">
                                <img src="./img/avatar.jpg" alt="John Doe">
                            </div>
                            <div class="person-info__info">
                                <span class="person-info__name">John Doe</span>
                                <span class="person-info__post">Водитель</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide reviews-slide">
                        <p class="reviews-slide__text">
                            Таким образом консультация с широким активом влечет за собой процесс внедрения и
                            модернизации
                            направлений прогрессивного развития. Разнообразный и богатый опыт сложившаяся структура
                            организации обеспечивает широкому кругу (специалистов)
                            участие в формировании модели развития.
                        </p>
                        <div class="reviews-slide__person person-info">
                            <div class="person-info__avatar">
                                <img src="./img/avatar.jpg" alt="John Doe">
                            </div>
                            <div class="person-info__info">
                                <span class="person-info__name">John Doe</span>
                                <span class="person-info__post">Водитель</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews-slider__btns">
                <div class="reviews-slider__btn reviews-slider__btn_prev" aria-label="Назад">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-left"></use>
                    </svg>
                </div>
                <div class="reviews-slider__btn reviews-slider__btn_next" aria-label="Вперёд">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-left"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
