.checkbox-primary {
    position: relative;

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &:focus+.checkbox-primary__label:before {
            // background-color: #000;
        }

        &:checked+.checkbox-primary__label:after {
            opacity: 1;
        }
    }

    &__label {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        position: relative;

        &:before {
            content: "";
            align-self: flex-start;
            flex: 0 0 24px;
            width: 24px;
            height: 24px;
            border: 1px solid var(--white);
            border-radius: 6px;
        }

        &::after {
            content: '';
            background-image: url('../img/check.svg');
            width: 16px;
            height: 16px;
            position: absolute;
            top: 4px;
            left: 4px;
            opacity: 0;
            transition: opacity $transitionSpeed $transitionFunction;
        }
    }

    &__text {
        margin-left: 15px;
        color: var(--dark-gray);
        font-weight: 350;
        font-size: 18px;
        line-height: 125%;

        @media (max-width:$tablet-max) {
            font-size: 13px;
            margin-left: 12px;
        }
    }
}
